// navbar
.navbar{
    background-color: $color-primary;
    color: $color-secondary;
    height: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    
   .flex{
    justify-content: space-between;
   }

    ul {
        display: flex;
    }

    a{
        color: $color-secondary;
        padding: 10px;
        
        &:hover{
            border-bottom: 2px solid $color-secondary;
        }
    }
}

// showcase
.showcase{
    height: 400px;
    background-color: $color-primary;
    color: $color-secondary;
    position: relative;
    h1{
        font-size: 40px;
    }

    p{
        margin: 20px 0;
    }

    .grid{
        // overflow: visible;
        grid-template-columns: 55% 45%;
        gap: 30px;
    }

    &::before, &::after{
        content: '';
        position: absolute;
        bottom: -70px;
        right: 0;
        left: 0;
        height: 100px;
        background: $color-secondary;
        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
    }
}
.showcase-form{
    position: relative;
    top: 60px;
    height: 330px;
    width: 390px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;

    .form-control{
        margin: 30px 0;
    }
    
    input[type='text'],
    input[type='email']{
        border: 0;
        border-bottom: 1px solid #b4becd;
        width: 100%;
        padding: 3px;
        font-size: 16px;

        &:focus{
            outline: none;
        }
    }
}

// stats
.stats{
    padding-top: 100px;

    .stats-heading{
        width: 500px;
        margin: auto;
    }

    .grid {
        h3{
            font-size: 30px;
        }

        p{
            font-size: 20px;
            font-weight: bold;
        }
    }
}

// Cli
.cli{
    .grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        img{
            border-radius: 5px;
            width: 92%;
        }

        &> *:first-child{
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
    }
}

// Cloud
.cloud{
    .grid{
        grid-template-columns: 4fr 3fr;
    }
}
